// FONTS
$main-fonts: "Poppins", "Arial", sans-serif;

// COLORS
$title-color: #34313d;
$text-xolor: #9e9aa8;
$air-color: #2bd0d0;
$air-color-hover: #9be4e4;
$lg-bg: #eff1f7;
$error-color: #f46363;
$darg-color: #232127;
