.sitenav {
  margin-right: auto;
  @include responsive(m-tablet) {
    display: none;
  }
  @include responsive(phone) {
    position: fixed;
    top: 9.6rem;
    bottom: 0;
    left: auto;
    right: auto;
    height: 100vh;
    z-index: 9999;
    max-width: 327px;
    width: 100%;
    background-color: $navbar-bg;
    padding: 4rem 2.4rem;
    color: #fff;
    opacity: 1;
    border-radius: 10px;
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @include responsive(phone) {
      flex-direction: column;
    }
  }

  &__item:not(:last-child) {
    margin-right: 3rem;

    @include responsive(tablet) {
      margin-right: 1.8rem;
    }

    @include responsive(phone) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: $text-color;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;

    &:hover {
      color: $title-color;
    }

    &:active {
      opacity: 0.6;
    }

    @include responsive(phone) {
      color: #fff;
    }
  }
}

.hidden {
  display: block;
}
