/* HERO */
.hero {
  position: relative;
  padding-top: 9.2rem;
  padding-bottom: 22.2rem;
  text-align: center;
  @include responsive(large) {
    right: 0rem;
  }
  @include responsive(tablet) {
    padding-top: 5rem;
    padding-bottom: 19.5rem;
    position: static;
  }
  @include responsive(phone) {
    padding-top: 3.7rem;
    padding-bottom: 16.8rem;
  }

  &__title {
    margin-bottom: 0.5rem;
    color: $title-color;
    @include responsive(medium) {
      font-size: 4.2rem;
      line-height: 1.14;
    }
    @include responsive(phone) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    margin-bottom: 3.8rem;
    @include responsive(phone) {
      margin-bottom: 3.2rem;
    }
  }
}
