/* INDEX-URL-SHORTNER-FEATURES-WRAPPER */
.index-url-shortner-features-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $lg-bg;

  &__url-shortner {
    margin-top: -8.4rem;
    @include responsive(phone) {
      margin-top: -8rem;
    }
  }
}

/* URL-SHORTNER */
.url-shortner__form {
  display: flex;
  padding: 4.8rem 6.4rem;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
  background-color: #4b3f6b;
  background-image: url(../images/url-shortner-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  @include responsive(tablet) {
    padding: 3.2rem;
  }
  @include responsive(m-tablet) {
    flex-direction: column;
    justify-content: center;
    padding: 2.4rem;
  }
}

.url-shortner__input-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 2.4rem;
  background-color: #fff;
  border-radius: 10px;
  @include responsive(m-tablet) {
    margin-right: 0;
    margin-bottom: 1.8rem;
  }

  @include responsive(m-tablet) {
    margin-bottom: 1.6rem;
  }
}

.url-shortner__input {
  flex-grow: 1;
  display: block;
  width: 100%;
  padding: 1.4rem 3.2rem;
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 1.8;
  color: $title-color;
}

.url-shortner__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: $error-color;
  color: rgba(244, 99, 99, 0.5);
}

.url-shortner__error-msg {
  display: none;
}

.url-shortner__input:not(:focus):not(:placeholder-shown):invalid
  ~ .url-shortner__error-msg {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-size: 1.6rem;
  line-height: 1.125;
  font-weight: 500;
  font-size: inherit;
  color: $error-color;
  letter-spacing: 0.11px;
}

.url-shortner__results {
  display: none;
  font-size: 2rem;
  line-height: 1.8;
}

.url-shortner__results--open {
  display: block;
}

.url-shortner__result {
  display: flex;
  align-items: center;
  padding: 1.6rem 2.4rem;
  border-radius: 5px;
  letter-spacing: 0.15px;
  color: $title-color;
  background-color: #fff;
  @include responsive(m-tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
}

.url-shortner__result:not(:last-child) {
  margin-bottom: 1.6rem;
}

.url-shortner__orginal-link {
  width: 100%;
  margin-right: 2.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include responsive(m-tablet) {
    margin-right: 0;
    margin-bottom: 0.6rem;
  }
}

.url-shortner__short-link {
  margin-right: 2.4rem;
  text-decoration: none;
  color: $air-color;
  @include responsive(m-tablet) {
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
}

.url-shortner__copy-button {
  min-width: 103px;
}

.url-shortner__copy-button-copied {
  background-color: #3a3054;
}

.hr {
  background-color: $text-color;
  color: $text-color;
  margin-bottom: 0.6rem;
}
